<div class="container">
  <form>
    <div class="row input-group mb-3">
      <div class="col">
        <label for="title" class="form-label">Title</label>
        <input type="text"
               [(ngModel)]="options.title"
               name="title"
               class="form-control">
      </div>
      <div class="col">
        <label for="msg" class="form-label">Message</label>
        <input type="text"
               [(ngModel)]="options.msg"
               name="msg"
               class="form-control">
      </div>
      <div class="col">
        <label for="theme" class="form-label">Theme</label>
        <select [(ngModel)]="options.theme"
                name="theme"
                class="form-control">
          <option *ngFor="let theme of themes" [value]="theme.code">{{theme.name}}</option>
        </select>
      </div>
    </div>
    <div class="row input-group mb-3">
      <div class="col">
        <label for="theme" class="form-label">Type</label>
        <select [(ngModel)]="options.type"
                name="type"
                class="form-control">
          <option *ngFor="let type of types" [value]="type.code">{{type.name}}</option>
        </select>
      </div>
      <div class="col">
        <label for="theme" class="form-label">Position</label>
        <select [ngModel]="position"
                (ngModelChange)="changePosition($event)"
                name="position"
                class="form-control">
          <option *ngFor="let pos of positions" [value]="pos.code">{{pos.name}}</option>
        </select>
      </div>
      <div class="col">
        <label for="timeout" class="form-label">Timeout</label>
        <input type="text"
               [(ngModel)]="options.timeout"
               placeholder="5000"
               name="timeout"
               class="form-control">
        <small class="form-hint">0 never expires</small>
      </div>
    </div>
    <div class="row input-group mb-3">
      <div class="col">
        <div class="form-check">
          <input type="checkbox"
                [(ngModel)]="options.showClose"
                name="showClose"
                class="form-check-input">
          <label for="showclose" class="form-check-label">Show Close Icon</label>
        </div>
        <div class="form-check">
          <input type="checkbox"
                [(ngModel)]="options.showDuration"
                name="showDuration"
                class="form-check-input">
          <label for="showduration" class="form-check-label">Show Remaining Duration</label>
        </div>
      </div>
    </div>

    <div class="demo-buttons">
      <button type="button" class="btn btn-primary" (click)="newToast()">Add Toast</button>
      <button type="button" class="btn btn-primary" (click)="newCountdownToast()">Countdown</button>
      <button type="button" class="btn btn-secondary" (click)="clearLastToast()">Clear Last</button>
      <button type="button" class="btn btn-secondary" (click)="clearToasties()">Clear All</button>
    </div>
  </form>
</div>
